@media screen {

	/* =form */
	
		form { padding-bottom: 10px; }
		
		form fieldset {
      padding: 0 0 10px;
		}
		
		form fieldset.controls { padding: 0; }
		
		form .errorExplanation { padding-bottom: 5px; }
    form .errorExplanation li {
      color: #B03C3A;
      text-shadow: 1px 1px 0 #fff;
    }

	/* =label */
	
    label { 
      display: block; position: relative; 
      color: #303235; 
    }
	
		p.help { 
			float: left; 
			font-size: 0.625em;
		}
	    
    label.text span {
      font-family: Arial, Helvetica, Sans-serif;
      color: #999999; font-size: 1em; 
      text-shadow: 0 1px 1px rgba(255,255,255,1); 
    }

    label.text { width: 55%; }

    label.compact span { 
      color: #999999; position: absolute; 
      padding: 8px; display: block;
    }

    label.active span { display: none; }

    fieldset.controls input { float: left; }
    fieldset.controls p { width: 50%; float: left; padding: 6px 0 0 12px; }

	/* =input */
	
    label.text input { 
      padding: 5px; margin-bottom: 1em; font-size: 1em; margin-top: 0;
      border: 1px solid #cccccc; color: #303235; width: 290px;
      font-family: Arial, Helvetica, Sans-serif;
    }

     label.text input.twitter { 
       padding-left: 23px;
       background: #fff url(../images/icons/twitter-handle.gif) no-repeat 3px 52%;
       width: 272px;
     }
     
      label.text.twitter span {
        padding-left: 23px;
      }
	
	/* =checkbox */
	
		label.checkbox {
			margin-bottom: 0.75em;
			margin-top: -0.25em;
		}
	
		label.checkbox span {
	        font-family: Arial, Helvetica, Sans-serif;
	        color: #333; font-size: 0.75em; 
	        text-shadow: 0 1px 1px rgba(255,255,255,1); 
	    }
	    
	/* =textarea */

		textarea { 
		    font-size: 1em; padding: 5px; margin-bottom: 1em; 
		    font-family: Arial, Helvetica, Sans-serif; color: #303235;
		    border: 1px solid #cccccc; width: 498px;
		}

}