@import url(blank-canvas.css);
@import url(base-typography.css);
@import url(base-datasets.css);
@import url(assets.css);

@media all {

  body { 
      background-color: #e4e2e3;
      background-repeat: repeat;
      background-image: url(../images/layout/background.gif);
  }
     
  .container {
      width: 540px; margin: 0 auto; 
      overflow: hidden; display: block;
  }

	/* =header */

		header { 
		    width: 100%; display: block; overflow: hidden;
		    border-bottom: 1px solid #7f2424; padding: 31px 0 0;
		    background: #b03c3a; background-repeat: repeat;
	      background-image: url(../images/layout/header-background.gif);
		    -webkit-box-shadow: 0 10px 20px rgba(200,199,199,0.8);
		    -moz-box-shadow: 0 10px 20px rgba(200,199,199,0.8);
			  box-shadow: 0 10px 20px rgba(200,199,199,0.8);
	    }

		header h1 { float: left; text-shadow: 0 2px 0px #7f2424; margin-bottom: 27px; }
		header h1 a { color: #ffffff; }
		header h1 a:hover, header h1 a:active, header h1 a:focus { text-decoration: none; text-shadow: 0px -1px 0 #000000; }

		header aside { 
		  float: right; position: relative;
		  border: 1px solid #902929;
		  margin: 27px 0 0;
			-moz-border-radius: 10px 10px 0 0;
			-webkit-border-radius: 10px 10px 0 0;
			border-radius: 10px 10px 0 0; top: 2px;
			background-image: url(../images/layout/background.gif);
			-moz-box-shadow: inset 0 -7px 7px rgba(70,70,70,0.1);
			-webkit-box-shadow: inset 0 -7px 7px rgba(70,70,70,0.1);
			box-shadow: inset 0 -7px 7px rgba(70,70,70,0.1);
	  }

		header aside:hover { 
			-moz-box-shadow: inset 0 7px 7px rgba(70,70,70,0.1);
			-webkit-box-shadow: inset 0 7px 7px rgba(70,70,70,0.1);
			box-shadow: inset 0 7px 7px rgba(70,70,70,0.1);
		}

		header aside p { 
		  padding: 6px 15px 6px 15px; 
		  border: 1px solid #ffffff; float: right;
		  text-shadow: 0 1px 0 #ffffff; margin: 0;
			list-style-type: none;
			-moz-border-radius: 10px 10px 0 0;
			-webkit-border-radius: 10px 10px 0 0;
			border-radius: 10px 10px 0 0;
			min-width: 110px;
			color: #555;
			font-size: 12px; 
	  }

    header aside p.control span { color: #B03C3A; }

    /* =contol */

    section#controls {
		    border-top: 1px solid #ffffff;
		    border-bottom: 1px solid #ccc;
		    background: #e4e2e3; display: block;
		    -webkit-box-shadow: inset 0 0px 20px rgba(200,199,199,1);
		    -moz-box-shadow: inset 0 0px 20px rgba(200,199,199,1);
			  box-shadow: inset 0 0px 20px rgba(200,199,199,1);
		}

		section#controls .container { padding: 23px 0 10px; }
		section#controls .notices { padding: 15px 0 0; }
    
		section#controls ul#userControls {
			list-style-type: none;
			padding: 5px 0 20px; width: 87%;
			margin: 0 auto; overflow: hidden;
		}
		
		section#controls ul#userControls li {
			padding: 0; float: left;
			margin-right: 2px;
		}

	/* =content */

		section#content { 
		    display: block; padding-top: 25px; 
		    border-top: 1px solid #ffffff;
		    padding-bottom: 15px;
    }
    
    section.error { margin-bottom: 20px; }
    section.error p { font-size: 0.75em; }
    
    section#filters { width: 100%; overflow: hidden; }
    section#filters .toggler { float: left; width: auto; margin-bottom: 8px; }
    section#filters .toggler li a { width: auto; padding: 5px 10px; }
    
    section#filters #claimed_id {
      float: right;
      text-shadow: 1px 1px 0 #fff;
      margin-bottom: 12px;
      text-align: right;
      font-size: 0.625em;
      padding-right: 19px;
      line-height: 28px;
      background: url(../images/icons/claimed.png) no-repeat 99% 6px;
    }

    /* =footer */
    
    footer details {
      box-shadow: 0 -1px 0 #ccc;
      -moz-box-shadow: 0 -1px 0 #ccc;
      -webkit-box-shadow: 0 -1px 0 #ccc;
      border-top: 1px solid #fff;
      padding: 12px 0 35px;
    }
    
    footer p {
      text-shadow: 1px 1px 0 #fff;
      font-size: 0.625em;
      text-align: right;
      margin-bottom: 2px;
      padding-right: 2px;
      opacity: 0.8;
    }

}