@import url(blank-canvas.css);
@import url(base-typography.css);
@import url(base-datasets.css);
@import url(assets.css);

@media all {

  body { 
      background-color: #f3f3f3;
  }
     
  .container {
      width: 700px; margin: 0 auto; 
      overflow: hidden; display: block;
  }

	/* =header */

		header { 
		    width: 100%; display: block; 
				overflow: hidden;
		    padding: 55px 0 40px;
		    background: #546775;
	  }

		header .container {
			position: relative;
			overflow: visible;
		}

		header h1 { float: left; margin-bottom: 0px; }
		header h1 a { color: #f3f3f3; }
		header h1 a:hover, header h1 a:active, header h1 a:focus { text-decoration: none; }

		header aside { 
		  position: absolute;
			bottom: -69px;
		  margin: 27px 0 0;
			background-color: #f3f3f3;
			right: 0;
	  }

		header aside p { 
		  padding: 6px 15px 6px 15px; 
			float: right;
			list-style-type: none;
			margin: 0;
			min-width: 110px;
			color: #555;
			font-size: 12px; 
	  }

    header aside p.control span { color: #6e95b2; }

    /* =contol */

    section#controls {
		    border-bottom: 1px solid #ccc;
		    background: #ffffff; display: block;
		}

		section#controls .container { padding: 40px 0 25px; }
		section#controls .notices { padding: 30px 0 11px; }
    
		section#controls ul#userControls {
			list-style-type: none;
			padding: 5px 0 20px; width: 89%;
			margin: 0 auto; overflow: hidden;
		}
		
		section#controls ul#userControls li {
			padding: 0; float: left;
			margin-right: 2px;
		}

	/* =content */

		section#content { 
		    display: block; padding-top: 25px; 
		    padding-bottom: 15px;
    }
    
    section.error { margin-bottom: 20px; }
    section.error p { font-size: 0.75em; }
    
    section#filters { width: 100%; overflow: hidden; }
    section#filters .toggler { float: left; width: auto; margin-bottom: 20px; margin-top: 11px }
    section#filters .toggler li a { width: auto; padding: 10px; }
    
    section#filters #claimed_id {
      float: right;
      margin-bottom: 12px;
      text-align: right;
      font-size: 0.625em;
      padding-right: 19px;
      line-height: 28px;
      background: url(../images/icons/claimed.png) no-repeat 99% 6px;
    }

    /* =footer */
    
    footer div {
      padding: 12px 0 35px;
    }
    
    footer p {
      font-size: 0.625em;
      text-align: right;
      margin-bottom: 2px;
      padding-right: 2px;
    }

}