<section class="about">
	<h2>What is this?</h2>
	<p>Made by Ideas is a service for people with too many ideas.</p>
	<p>Ideas are anonymous (until you start working on one), so, if you're looking for an ego-trip, look <a href="http://www.quora.com/">somewhere else</a>; Made by Ideas is about the idea, not the credit.</p>
	<h2>So, how do I use it?</h2>
	<p>Create an account and donate your ideas.</p>
	<p>You may either post ideas from this site, or by emailing made@byideas.co.uk from your registered email address.</p>
	<p>Your email's subject (the first 90 characters of it anyway) will form the idea title, the email body will become its description. You may edit or expand upon any emailed ideas from this site.</p>
	<p>Once posted, ideas are Tweeted by <a href="http://twitter.com/#!/madebyideas">@madebyideas</a> for all to see, rank, and steal; you'll be notified when this happens.</p>
	<ul class="cta_list">
	    <li><%= link_to "OK, create me an account", new_user_registration_path, :remote => 'true',:class => 'button' %></li>
	    <li><%= link_to "Sign me in", new_user_session_path, :remote => 'true',:class => 'button' %></li>
	</ul>
</section>