<section class="about">
	<h2>What is this?</h2>
	<p>Made by Ideas is a service for people with too many ideas.</p>
	<p>All ideas are anonymous until you start working on them. Once you do, you are invited to join a private conversation with the brilliant mind behind the idea.</p>
	<h2>So, how do I use it?</h2>
	<p>Create an account and donate your ideas.</p>
	<p>You may either post ideas from this site, or by emailing <a href="mailto:made@byideas.co.uk">made@byideas.co.uk</a> from your registered email address; sum up your idea in the first 90 characters of your email's subject, you may give more detail in the email itself.</p>
	<p>A few minutes after you post your idea, it will be Tweeted by <a href="http://twitter.com/#!/madebyideas">@madebyideas</a> for all to see, rank, and steal. You'll be notified when someone claims your idea and starts work on it.</p>
    <h2>My idea wasn't posted!</h2>
    <p>This platform is as open as the Internet will allow it to be. Sadly, there are a lot of people out there who like to spoil it for others (rude, I tells you) so we've had to take a number of steps in an attempt keep the feed clean. If you feel your idea was wrongly captured by our traps, <a href="mailto:report@byideas.co.uk">email us</a> and we'll re-post it, with an apology.</p>
    <h2>Who's behind this?</h2>
    <p>The Many. We've posted about this service on the <a href="http://madebymany.com/blog/free-ideas">Made by Many blog</a> to give a little background.</p>
	<ul class="cta_list">
	    <li><%= link_to "OK, create me an account", new_user_registration_path, :remote => 'true',:class => 'button' %></li>
	    <li><%= link_to "Sign me in", new_user_session_path, :remote => 'true',:class => 'button' %></li>
	</ul>
</section>