<section class="about">
	<h2>What is this?</h2>
	<p>Made by Ideas is a service for people with too many ideas.</p>
	<p>All ideas are anonymous until you start working on them. Once you do, you are invited to join a private conversation with the brilliant mind behind the idea.</p>
	<h2>So, how do I use it?</h2>
	<p>Create an account and donate your ideas.</p>
	<p>A few minutes after you post your idea, it will be Tweeted by <a href="http://twitter.com/#!/madebyideas">@madebyideas</a> for all to see, rank, and steal. You'll be notified when someone claims your idea and starts work on it.</p>
	<h2>Who's behind this?</h2>
    <p>We've posted about this service on the <a href="http://www.phenotypic.co.uk/post/40597458166/free-your-ideas">Phenotypic blog</a> to give a little background.</p>
	<ul class="cta_list">
	    <li><%= link_to "OK, create me an account", new_user_registration_path, :remote => 'true',:class => 'button' %></li>
	    <li><%= link_to "Sign me in", new_user_session_path, :remote => 'true',:class => 'button' %></li>
	</ul>
</section>