<section class="error">
	<h2>Sorry, that idea doesn't seem to exist</h2>
	<p>It would appear that you've either clicked on a link to an idea that no longer exists, or you've been playing around with the address bar in your browser.</p>
	<p>It's probably best if you <a href="/">go home</a> &ndash; there are more ideas there.</p>
</section>