<p>Hello <%= @resource.email %></p>

<p>Your account on Made by Ideas requires a new password, use the link below to set up your password.</p>

<p><%= link_to 'Set up a new password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>